html,
body {
    height: 100%;
    width: 100%;
}

body {
    @include serif-font;
}

hr {
    border-color: $theme-1;
    border-width: 3px;
    max-width: 50px;
}

hr.light {
    border-color: white;
}

hr.hr-color-5 {
    border-color: $theme-5;
}

hr.footer {
    border: 0;
    border-bottom: 1px solid #ddd;
    max-width: 95%;
}

a {
    @include transition-all;
    color: $theme-1;
    &:hover,
    &:focus {
        color: darken($theme-1, 10%);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include sans-serif-font;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.bg-primary {
    background-color: $theme-1;
}

.bg-secondary {
    background-color: $theme-2;
}

.bg-tertiary {
    background-color: $theme-3;
}

.bg-dark {
    background-color: $theme-dark;
    color: white;
}

.text-faded {
    color: rgba(black, .4);
}

section {
    padding: 75px 25px 100px;
}

.top-section {
    padding: 0px 0px 80px;
    @media (min-width: 768px) {
        padding: 50px 0px 100px;
    }
}

.no-padding {
    padding: 0;
}

// Navigation

.navbar-default {
    background-color: white;
    border: 0;
    @include sans-serif-font;
    @include transition-all;
    .navbar-header .navbar-brand {
        color: $theme-1;
        @include sans-serif-font;
        font-weight: 600;
        text-transform: uppercase;
        &:hover,
        &:focus {
            color: darken($theme-1, 10%);
        }
    }
    .navbar-toggle {
        border: 0;
    }
    .nav {
        > li {
            > a,
            > a:focus {
                text-transform: uppercase;
                font-weight: 600;
                font-size: 13px;
                color: $theme-dark;
                &:hover {
                    color: $theme-1;
                }
            }
            &.active {
                > a,
                > a:focus {
                    color: $theme-1 !important;
                    background-color: transparent;
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }
    }
    @media (min-width: 768px) {
        background-color: transparent;
        .navbar-header .navbar-brand {
            color: rgba(white, .7);
            &:hover,
            &:focus {
                color: white;
            }
        }
        .nav > li > a,
        .nav > li > a:focus {
            color: rgba(white, .7);
            &:hover {
                color: white;
            }
        }
        &.affix {
            background-color: white;
            border-color: rgba($theme-dark, .5);
            .navbar-header .navbar-brand {
                color: $theme-1;
                &:hover,
                &:focus {
                    color: darken($theme-1, 10%);
                }
            }
            .nav > li > a,
            .nav > li > a:focus {
                color: $theme-dark;
                &:hover {
                    color: $theme-1;
                }
            }
        }
    }
}

// Homepage Header

header {
    position: relative;
    width: 100%;
    min-height: auto;
    @include background-cover;
    background-position: bottom;
    background-image: url('../img/header-small.jpg');
    text-align: center;
    color: white;
    .header-content {
        position: relative;
        text-align: start;
        padding: 110px 25px 240px;
        width: 100%;
        .header-content-inner {
            h1 {
                font-weight: 700;
                font-size: 110px;
                letter-spacing: -0.02em;
                text-transform: uppercase;
                margin-top: 0;
                margin-bottom: 0;
            }
            hr {
                margin: 30px auto;
            }
            p {
                font-weight: 300;
                color: rgba(white, .7);
                font-size: 16px;
                margin-bottom: 50px;
            }
        }
    }
    @media (min-width: 768px) {
        min-height: 100%;
        background-image: url('../img/header.jpg');
        .header-content {
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            padding: 0px 17.5% 150px;
            .header-content-inner {
                max-width: 1000px;
                margin-left: auto;
                margin-right: auto;
                p {
                    font-size: 18px;
                    max-width: 80%;
                }
            }
        }
    }
}

// Sections

.section-heading {
    margin: 0 0 40px;
    h2 {
        margin: 10px 0;
    }
    h3 {
        margin: 10px 0;
        font-weight: 200;
    }
}

div.anchor {
    display: block;
    position: relative;
    top: -170px;
    visibility: hidden;
    @media (min-width: 768px) {
        top: -233px;
    }
}

.about-box {
    max-width: 400px;
    margin: 50px auto 0;
    p {
        margin: 20px 0 30px;
        clear: both;
    }
    @media (min-width: 768px) {
        margin: 10px auto 0;
        p {
            margin: 0;
        }
    }
}

.about-heading {
    display: flex;
    align-items: center;
    @media (min-width: 768px) {
        flex-direction: column;
    }
}

.about-icon {
    text-align: left;
    float: left;
    @media (min-width: 768px) {
        text-align: center;
        float: none;
    }
}

.about-label {
    padding-left: 20px;
    span {
        display: block;
    }
    h3 {
        margin: 0;
    }
    @media (min-width: 768px) {
        margin: 20px auto 0 0;
        padding-left: 0;
        span {
            display: inline;
        }
        h3 {
            margin: 20px 0px 10px;
        }
    }
}

.about-info {
    margin-top: 40px;
}

.demo-box {
    margin: 0;
    @media (min-width: 768px) {
        margin: 0 5%;
    }
}

.demo-video {
    margin: 0 5%;
    border-radius: 8px;
    overflow: hidden;
    img, video {
        display: block;
        width: 100%;
    }
}

.demo-shadow {
    height: 16px;
    margin: 20px 0 0;
    border-radius: 100%;
    background: #000;
    opacity: 0.2;
    filter: blur(6px);
    -webkit-filter: blur(6px);
    @media (min-width: 768px) {
        height: 20px;
        margin: 25px 0 0;
    }
    @media (min-width: 992px) {
        height: 24px;
        margin: 30px 0 0;
    }
}

#join {
    padding: 75px 25px;
}

#get-started {
    .container {
        width: 100%;
        max-width: 1290px;
        padding: 0 3%;
    }
    .btn-group {
        margin: 0 0 20px;
    }
    .btn {
        padding: 6px;
        margin: 0 10px;
        border-radius: 0;
        color: $theme-1;
        background: none;
        text-transform: none;
        font-weight: 400;
        border-bottom: 2px solid rgba(0, 0, 0, 0);
    }
    .btn:hover,
    .btn.active {
        border: 0;
        border-bottom: 2px solid $theme-1;
        box-shadow: none;
    }
    .btn:hover,
    .btn:focus {
        color: #d67609;
        outline: 0;
    }
}

#cards {
    padding: auto;
}

.card-wrapper {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.card {
    padding: 12px;
    max-width: 424px;
    min-height: 460px;
    background: white;
    box-shadow: 0 0 15px 0 #ccc;
    text-align: left;
    img {
        margin: 0;
        max-width: 100%;
        max-height: 100%;
    }

}

.card-desc {
    margin: 25px 5px 5px;
    h3 {
        margin: 10px 0 20px;
        min-height: 30px;
        font-weight: bold;
        letter-spacing: -0.02em;
        @media (min-width: 992px) {
            min-height: 60px;
            width: 175px;
        }
    }
}

code {
    color: #666;
}

.tns-nav button {
      display: inline-block;
      width: 9px;
      height: 9px;
      margin: 0 5px;
      border-radius: 50%;
      background: rgba(255, 255, 255, .7);
      padding: 0;
      border: 0;
      &.tns-nav-active {
          background: #bbb;
      }
}

.call-to-action {
    h2 {
        margin: 0 auto 20px;
    }
}

// Footer

footer {
    @include sans-serif-font;
    font-size: 12px;
    padding: 0px 25px;
    .container {
        width: 100%;
        max-width: 1290px;
        &.content {
            padding: 30px 3% 10px;
        }
        &.copyright {
            padding: 0 3% 30px;
            color: #aaa;
        }
    }
    h5 {
        text-transform: uppercase;
        font-weight: 600;
    }
    ul {
        list-style: none;
        padding-inline-start: 0;
    }
    .links h5 {
        margin-top: 30px;
        @media (min-width: 768px) {
            margin-top: 0;
        }
    }
    .links a {
        margin-left: 1px;
        color: #999;
        &:hover,
        &:focus {
            color: $theme-1;
        }
    }
}

.logos-wrapper {
    display: flex;
}

.logo-box {
    display: inline-block;
    padding-right: 5px;
}

.logo-icon {
    font-size: 14px;
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.logo-discord {
    background: #5865f2;
}

.logo-gmail {
    background: #55a954;
}

.logo-github {
    color: #333;
    font-size: 30px;
}

// Bootstrap Overrides
.text-primary {
    color: $theme-1;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

// Text styles

.text-5 {
    color: $theme-5;
}

.text-5-med {
    color: darken($theme-5, 5%);
}

.text-5-dark {
    color: darken($theme-5, 10%);
}

.text-desc {
    @include sans-serif-font;
    font-size: 14px;
}

// Button Styles
.btn-default {
    @include button-variant($theme-dark, white, white);
}

.btn-primary {
    @include button-variant(white, $theme-1, $theme-1);
}

.btn-secondary {
    @include button-variant(white, $theme-2, $theme-2);
}

.btn {
    @include sans-serif-font;
    border: none;
    border-radius: 300px;
    font-weight: 700;
    text-transform: uppercase;
}

.btn-xl {
    padding: 15px 30px;
    margin-right: 10px;
}

// Contact
#contact .fa {
    color: $theme-dark;
    font-size: 4em;
}

// Extras
// -- Highlight Color Customization
::-moz-selection {
    color: white;
    text-shadow: none;
    background: $theme-dark;
}

::selection {
    color: white;
    text-shadow: none;
    background: $theme-dark;
}

img::selection {
    color: white;
    background: transparent;
}

img::-moz-selection {
    color: white;
    background: transparent;
}

body {
    -webkit-tap-highlight-color: $theme-dark;
}

